.card {
    width: 70vw;
    height: 85vw;
    border: 2px solid var(--opacity);
    background-color: var(--opacity);
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}
